<header>
    <div class="parallax-container banner">
        <div class="section no-pad-bot">
            <div class="name">
                <a href="/">
                    <h1 class="white-text header"><b>Kate</b> Spenst<img alt="Maple Leaf" src="{{ site.url }}/assets/img/maple-leaf.svg" /></h1>
                </a>
            </div>
        </div>
        <div class="parallax"><img alt="Unsplashed background" src="{{ site.url }}/assets/img/water-mountains.jpg" /></div>
    </div>
</header>
<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>