body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a,
a:visited,
a:active {
    color: rgba(0, 0, 0, 0.87);
}


/* Banner */

div.banner {
    height: 100vh;
}

.parallax img {
    max-width: 100%;
}

.name {
    position: absolute;
    bottom: 25vh;
    left: 25vw;
}

.name img {
    height: 1rem;
    margin-left: 5px;
    margin-bottom: -5px;
}


/* Footer */

.social img {
    height: 2rem;
    margin-right: 1rem;
}

.social-container {
    margin-top: .82rem;
}


/* Post */

article img {
    max-width: 100%;
}

article ul li {
    list-style-type: disc !important;
}

article ul {
    padding-left: 30px !important;
}